							/* reset */
							/* fonts */
							/* colors */
							/* mobile */
							/* desktop */
							/* gallery */

/* reset */
a{all: unset},abbr,address,article,aside,audio,b,blockquote,body,button,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,input,ins,kbd,label,legend,li,mark,menu,,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,textarea,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;font-size:100%;font-weight:inherit;font-style:inherit}article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary,video{display:block;}audio,canvas{display:inline-block}html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}ol,ul{list-style:none}a,del,ins{text-decoration:none}a:active,a:hover{outline:0}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}img{border:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input,textarea{background:0 0}button,input{line-height:normal}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],input[disabled]{cursor:default}input[type=search]{-webkit-appearance:textfield}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}a button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto}table{border-collapse:collapse;border-spacing:0}caption,th{text-align:left}q:after,q:before{content:''}

/* fonts */

:root {
	--font-style-1: normal normal bold 35px/44px 'Azo-sans-web'; 
	--font-style-1a: normal normal normal 18px/30px 'Azo-sans-web';
	--font-style-1b: normal normal bold 20px/40px 'Azo-sans-web';
	--font-style-1c: normal normal bold 23px/29px 'Azo-sans-web';
	--font-style-1d: normal normal bold 24px/57px 'Azo-sans-web';
	--font-style-1e: normal normal bold 25px/40px 'Azo-sans-web';
	--font-style-1f: normal normal normal 20px/40px 'Azo-sans-web';
	--font-style-1g: normal normal bold 28px/30px 'Azo-sans-web';
	--font-style-1h: italic normal normal 18px/30px 'Azo-sans-web';
	--font-style-1i: normal normal bold 20px/25px 'Azo-sans-web';
	--font-style-1j: normal normal bold 50px/68px 'Azo-sans-web';
	--font-style-2a: normal normal normal 28px/45px 'Abril-Fatface';
	--font-style-2b: normal normal normal 34px/57px 'Abril-Fatface';
	--font-style-2c: normal normal normal 76px/57px 'Abril-Fatface'; 
	--font-style-2d: normal normal normal 21px/28px 'Abril-Fatface';
}


/* colors */
:root {
	--turquoise: rgb(34, 164, 186);
	--orange: #FCBA00;
	--gray: #D8D8D8; 
	--light-gray: #EFEFEF;
	--black: #1A1A1A;
	--white: #FFFFFF;
	--border-color-dark: #707070;
	--red: #E5491F;
}

* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


/* mobile */

.logo-menu-container {
	display: flex;
	flex-direction: column;
}

.logo-lines-container {
	display: flex;
}


.header {
	margin-bottom: 48px;
	display: flex;
	justify-content: space-between;
}

.menu {
	font: var(--font-style-1b);
	text-transform: uppercase;
	color: var(--white); 
	font:var(--font-style-1b);
}

.menu li:hover {
	border-bottom: solid 1px #FCBA00;	
	cursor: pointer;
}

.dropdown-menu {
	display: none;
	background-color: var(--turquoise);
	position: fixed;
	z-index: 1;
	width: 100vh;
}

.hamburger-menu {
	
	width: 30px;
	height: 30px;
	margin-top: 46px;
	margin-right: 39px;
	color: var(--white);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	float: right;
}

.line {
	width: 100%;
	height: 3px;
	background-color: var(--white);
	transition: all 0.8s;
}
.change .line-1 {
	transform: rotateZ(-405deg) translate(-8px, 6px);
}

.change .line-2 {
	opacity: 0;
}

.change .line-3 {
	transform: rotateZ(405deg) translate(-8px, -6px);
}

.change {
	transition: right 0.6s cubic-bezier(1, 1, 1, 1);
	right: 0;
}

.logo-mobile {
	margin:46px 0px 0px 59px;
}


.top-drawing {
	display: none;
}

.hero {
	font: var(--font-style-1);
	margin: 0px 58px 60px 59px;
}

.facebook-top {
	width: 49px;
	height: 49px;
	margin-left: 59px;
	cursor: pointer;
}

.intro {
	margin: 11px 24px 47px 24px;
	font: var(--font-style-2a);
} 

.bacground-box-2 h4 {
	margin-bottom: 0px;
}


.subject {
	font: var(--font-style-1c);
	margin-bottom: 20px;
}

.section-content {
	margin-right: 27px;
	margin-left: 27px;
	font: var(--font-style-1a);
}            

.drawing img {
	height: 135px;
	margin-top: 62px;
	margin-bottom: 50px;
}

.hero-container {
	background-color: var(--turquoise);
	margin-bottom: 29px;
	padding-bottom: 50px;
}

.background-box-2 {
	margin-bottom: 50px;
}

.background-box-3 {
	background-color: var(--light-gray);
	padding-bottom: 60px;	
}

.background-box-4 {
	padding: 36px 16px 90px 16px;
}

.about {
	background-color: var(--orange);
	padding-bottom: 80px;
	margin-bottom: 57px;
}

.part-logo1 {
	margin-left: -220px;
	margin-bottom: -650px;
}

.part-logo2 {
	margin-right: -160px;
	margin-bottom: -830px;
}

.go-to-events-btn {
	display: none;
}

.reviews-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.reviews-line {
	display: flex;
}

.reviews {
	flex-grow: 2;
}

.background-box-5 {
	margin-bottom: 137px;
	margin-left: 10px;
	margin-right: 10px;
}

.gallery-preview-mobile { 
	background-image: url("assets/galeria_mobile.png");
	height: 285px;
	justify-content: center;
	gap: 20px;
}

.gallery-preview-button {
	border: 0;
	width: 98px;
	height: 68px;
}

.gallery-preview-side-text {
	color: var(--white);
	font: var(--font-style-1e); 
	font-weight: bold;
	text-align: center;
}

.nav-element {
	font: var(--font-style-1d);
	text-transform: uppercase;	
}

.background-box-4 p {
	font: var(--font-style-1a);  

	text-align: left;
	margin-bottom: 30px;
}

.list-counter {
	font: var(--font-style-2c); 
	margin-right: 35px;
	margin-top: 20px;
}

.counter-one {
	margin-right: 43px;
}

.list-counter-position {
	display: flex;
}

.workshop-title {
	text-transform: uppercase;
	font: var(--font-style-1b);
	margin: 50px 24px 20px 24px;
	word-break: ;
}

.workshop-title::after {
	content:'';
	display: block;        
	height: 1px;
	margin: 30px 24px 33px 24px;
	background-color: var(--white);
}

.workshop-space {
	border-radius: 52px;
}

.workshop-space,.section-content {
	margin-bottom: 20px;
}

.whorkshop-style-turquoise {
	background-color: var(--turquoise);
	color: var(--white);
	margin-bottom: 58px;
}

.whorkshop-style-grey {
	background-color: var(--gray);
}

.toggle-btn {
	border-style: none;
	text-transform: uppercase;
	font: var(--font-style-1b);
	font-style: 20px;
	color: var(--white);
}

.whorkshop-style-grey .toggle-btn {
	color: var(--black); 
}

.register-btn {
	border-style: none;
	text-transform: uppercase;
	font: var(--font-style-1g);
	border-radius: 24px;
	width: 300px;
	height: 69px;
	margin-bottom: 45px;
}

.btn-style1 {
	background-color: var(--white);
	color: var(--turquoise);
}

.btn-style1:hover {
	background-color: var(--orange);
	color: var(--turquoise);
}

.btn-style2 {
	background-color: var(--turquoise);
	color: var(--white);
}

.btn-style2:hover {
	background-color: var(--orange);
	color: var(--white);
}

.toggle-section-content {
	display: none;
}

.price , .data {
	font:var(--font-style-1f);
	text-transform: uppercase;
}

.block {
	margin: 30px 0px 30px 0px;
}

.price::before {
	content:'';
	display: block;
	height: 1px;
	margin: 0px 24px 33px 24px;
	background-color: var(--white);
}

.data::before {
	content:'';
	display: block;
	height: 1px;
	margin: 0px 24px 33px 24px;
	background-color: var(--white);
}

.quote {
	font: var(--font-style-2a);
	padding: 60px 40px 40px 40px;
	position: relative;
}
 
.quote::before {
	content: "”";
	font: var(--font-style-2a);
	color: var(--red);
	position: relative;
	top: 20px;
}

.quote::after {
	content: "”";
	font: var(--font-style-2a);
	color: var(--red);
	position: absolute;
}

.teachers {
	text-transform: uppercase;
	font: var(--font-style-1d);
}

.cookies {
	display: none;  
}

.about-content {
	font: var(--font-style-1a);
	margin: 20px 30px 50px 30px;
}

.about h3 {
	margin-top: 30px;
}

.guys-photos img {
	width: 181px;
	height: 181px;
}

.reviews {
	background-color: var(--turquoise);
	color: var(--white);
	font: normal normal normal 18px/30px 'Azo-Sans-web';
	margin: 10px 20px 10px 20px;
	border-radius: 24px;
	padding: 40px 20px 40px 20px;
	text-align: left;
}

.about-background {
	background-image: url("assets/logo_w_tle.png");
	background-repeat: no-repeat;
}

.footer-content {
	background-color: var(--black);
	color: var(--white);
	padding: 47px 0px 47px 40px;
	font: var(--font-style-1a);
	margin-top: 40px;
}

.copywright {
	margin: 0px 0px 44px 0px;
}

.contact {
	margin: 0px 0px 44px 0px;
}

.gallery-preview-desktop {
	display: none;
}

@media (max-width: 430px) {

	.part-logo2 {
		margin-right: -60px;
	}

	.logo-mobile {
		width: 70%;
		height: 70%;
	}
}


/* desktop */

@media (min-width: 999px) {

	.menu {
		margin: 60px 0px 0px 100px;
	}

	.hamburger-menu {
		display: none;
	}

	.dropdown-menu {
		display: block;
	}

	.desktop-menu {
		display: flex;
		gap: 25px;
		position: absolute;
	}

	.desktop-menu li {
		padding: 0px 6px 5px 6px;
		white-space: nowrap;
	}

	.desktop-menu li:hover {
		border-bottom: solid 5px #FCBA00;	
		cursor: pointer;
	}

	.header {
		margin-bottom:120px;
	}

	.logo-desktop {
		margin: 46px 0px 0px 267px;
	}

	.logo-menu-container {
		display: flex;
		flex-direction: row;
	}

	.top-drawing {
		display: block;
	}

	.top-banner {
		display: flex;
		gap: 200px;;;
	}

	.go-to-events-btn {
		display: block;
		border-style: none;
		background-color: var(--orange); 
		color: var(--white);
		border-radius: 10px;
		text-transform: uppercase;
		font: var(--font-style-1b);
		margin: 50px 0px 0px 59px;
		padding: 7px 20px 7px 20px;
	}

	.go-to-events-btn:hover {
		border-style: solid;
		border-color: white;
		background-color: var(--turquoise);
	}

	.hero {
		font: var(--font-style-1j);
		margin-bottom: 0px;  
	}

	.hero-container {
		display: flex;
		justify-content: center;
	}

	.logo-desktop {
		margin-left: 59px;
	}

	.box-2-desktop {
		display: flex;
	}
	.box-2-desktop-content {
		margin-left: 60px;
		margin-right: 60px;
	}

	.box-2-desktop p {
		text-align: left;
	}

	.box-2-desktop h5 {
		text-align: left;
		margin-left: 27px;
	}

	.box-2-desktop figure {
		text-align: left;
		margin-left: 40px;
	}

	.gallery-preview-mobile {
		display: none;
	}

	.gallery-preview-desktop { 
		display: flex;
	}

	.gallery-preview-desktop a { 
		width: 20%;
		position: relative
	}
	.gallery-preview-desktop img { 
		width: 100%;
	}

	.gallery-preview-desktop a::after {
		content:"";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		background: var(--turquoise);
		transition: opacity 0.5s linear;
	}

	.gallery-preview-desktop a:hover::after {
		opacity: 0.5;
	}
	
	.list-counter-desktop {
		display: flex;
		flex-direction: column;
		width: 50%;
	}

	.list-counter-position-desktop {
		display:  flex;
	}

	.part-logo2 {
		display: none;
	}

	.part-logo1 {
		margin: auto;
	}	

}

@media(max-width: 1000px){
	.hide {
		display: block;
	}
}









