/* reset */
a,abbr,address,article,aside,audio,b,blockquote,body,button,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,input,ins,kbd,label,legend,li,mark,menu,,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,textarea,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;font-size:100%;font-weight:inherit;font-style:inherit}article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary,video{display:block}audio,canvas{display:inline-block}html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}ol,ul{list-style:none}a,del,ins{text-decoration:none}a:active,a:hover{outline:0}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}img{border:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input,textarea{background:0 0}button,input{line-height:normal}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],input[disabled]{cursor:default}input[type=search]{-webkit-appearance:textfield}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}a button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto}table{border-collapse:collapse;border-spacing:0}caption,th{text-align:left}q:after,q:before{content:''}

/* fonts */
@font-face {
	font-family: 'Open Sans';
}

@font-face {
	font-family: 'Abril Fatface';
}

:root {
	--font-style-1a: normal normal normal 18px/30px 'Open Sans';
	--font-style-1b: normal normal bold 20px/30px 'Open Sans';
	--font-style-1c: normal normal bold 20px/40px 'Open Sans';
	--font-style-1d: normal normal bold 24px/57px 'Open Sans';
	--font-style-1e: normal normal bold 25px/40px 'Open Sans';
	--font-style-1f: normal normal normal 20px/34px 'Open Sans';
	--font-style-1g: normal normal bold 28px/30px 'Open Sans';
	--font-style-2a: normal normal normal 28px/45px 'Abril Fatface';
	--font-style-2b: normal normal normal 28px/57px 'Abril Fatface';
	--font-style-2c: normal normal normal 76px/57px 'Abril Fatface'; 
}

/* colors */
:root {
	--turquoise: #22A4BA;
	--orange: #FCBA00;
	--gray: #D8D8D8;
	--light-gray: #EFEFEF;
	--black: #1A1A1A;
	--white: #FFFFFF;
	--border-color-dark: #707070;
}

#top {
	top: 0;
}

* {
	margin: 0;
	padding: 0;
}

footer {
	background-color: var(--black);
	color: #FFFFFF;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 48px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* mobile */

.header-mobile {
	background-color: var(--turquoise);
	height: 528px;
}

.hamburger-menu {
	width: 30px;
	height: 30px;
	margin-top: 46px;
	margin-right: 39px;
	color: var(--white);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	float: right;
}

.line {
	width: 100%;
	height: 3px;
	background-color: var(--white);
	transition: all 0.8s;
}
.change .line-1 {
	transform: rotateZ(-405deg) translate(-8px, 6px);
}

.change .line-2 {
	opacity: 0;
}

.change .line-3 {
	transform: rotateZ(405deg) translate(-8px, -6px);
}

.change {
	transition: right 0.6s cubic-bezier(1, 1, 1, 1);
	right: 0;
}

.logo {
	height: 42px;
	width: 146px;
	margin-left: 53px;
	margin-top: 46px;
}

.dropdown-menu {
	text-transform: uppercase;
}

.top-drawing {
	display: none;
}

.title {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 44;
	padding-left: 59px;
	padding-top: 0px;
	padding-bottom: 48px;
	width: 295px;
	height: 220px;
}

.facebook {
	margin-left: 59px; 
}

.section-content {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 1.6;
	margin-right: 27px;
	margin-left: 27px;
}

.first-section h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-transform: uppercase;	
	margin-top: 25px;
	margin-bottom: 20px;
}

.first-section h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 23px;
	margin-bottom: 21px;
}

.first-section h2 {
	font-family: 'Abril Fatface';
	font-size: 21px;
	font-weight: normal;
}

.drawing img {
	height: 135px;
	margin-top: 62px;
	margin-bottom: 50px;
}

.first-section {
	margin-bottom: 50px;

}

.middle-section {
	background-color: var(--light-gray);
	height: 656px;
}

.middle-section-title {
	font-family: 'Abril Fatface';
	font: normal normal normal 28px/45px 'Abril Fatface';
	width: 341px;
	padding-top: 60px;
	padding-bottom: 40px;
}

.gallery-preview { /* tutaj ma być grafika gotowa, a na to tylko  tekst i przycisk */
	background-color: var(--turquoise);
	height: 285px;
	justify-content: center;
	gap: 20px;
}

.gallery-preview-button {
	border: 0;
	width: 98px;
	height: 68px;
}

.gallery-preview-side-text {
	color: var(--white);
	font: normal normal bold 25px/40px Open Sans; 
	font-weight: bold;
	text-align: center;
}

.third-section {
	margin-bottom: 90px;
}

.third-section h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	text-transform: uppercase;	
	margin-top: 36px;
	margin-bottom: 20px;
}

.third-section h2 {
	font-family: 'Abril Fatface';
	font: normal normal normal 28px/57px 'Abril Fatface';
	margin-bottom: 40px;
}

.third-section p {
	font: normal normal normal 18px/30px 'Open Sans';
	width: 306px;
	text-align: left;
	margin-bottom: 30px;
}

.list-counter {
	font: normal normal normal 76px/57px 'Abril Fatface';
	margin-right: 35px;
	margin-top: 20px;
}

.list-counter-position {
	display: flex;
}

.workshop-space h1 {
	font: normal normal bold 20px/40px Open Sans;
}

.workshop-space {
	border-radius: 52px;
}

.whorkshop-style-one {
	background-color: var(--turquoise);
	color: var(--white);
}

.whorkshop-style-two {
	background-color: var(--gray);
}

.toggle-btn {
	border-style: none;
	text-transform: uppercase;
	font: var(--font-style-1b);
	font-style: 20px;
	color: var(--white);
	margin: 16px 0px 16px 0px;
}

.register-btn {
	border-style: none;
	background-color: var(--white);
	color: var(--turquoise);
	border-radius: 24px;
	width: 300px;
	height: 69px;
}

.register-btn label {
	text-transform: uppercase;
	font: var(--font-style-1g)
}

.fourth-section h1 {
	font: var(--font-style-1d);
	text-transform: uppercase;
}

.fourth-section h2 {
	font: var(--font-style-2b);
	margin-bottom: 30px;
}

h3 {
	margin: 52px 24px 0px 24px;
	font: var(--font-style-1c);
}

h3:after {
	content:'';
	display: block;
	height: 1px;
	margin: 50px 24px 50px 24px;
	background-color: var(--white);
}

.toggle-section-content {
	display: none;
}

.price , .term {
	font:var(--font-style-1f);
	text-transform: uppercase;
}

.price::before {
	content:'';
	display: block;
	height: 1px;
	margin: 10px 24px 50px 24px;
	background-color: var(--white);
}

.term::before {
	content:'';
	display: block;
	height: 1px;
	margin: 10px 24px 50px 24px;
	background-color: var(--white);
}

