/* reset */
abbr,address,article,aside,audio,b,blockquote,body,button,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,input,ins,kbd,label,legend,li,mark,menu,,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,textarea,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;font-size:100%;font-weight:inherit;font-style:inherit}article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary,video{display:block;}audio,canvas{display:inline-block}html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}ol,ul{list-style:none}a,del,ins{text-decoration:none}a:active,a:hover{outline:0}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}img{border: 0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input,textarea{background:0 0}button,input{line-height:normal}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default}input[type=search]{-webkit-appearance:textfield}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}a button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto}table{border-collapse:collapse;border-spacing:0}caption,th{text-align:left}q:after,q:before{content:''}

/* fonts */
:root {
	--font-style-basic: normal normal normal 16px/25px 'azo-sans-web'; 
	--font-style-1: normal normal bold 35px/44px 'azo-sans-web'; 
	--font-style-1a: normal normal normal 18px/30px 'azo-sans-web'; 
	--font-style-1b: normal normal bold 20px/40px 'azo-sans-web';
	--font-style-1c: normal normal bold 23px/29px 'azo-sans-web';
	--font-style-1d: normal normal bold 24px/57px 'azo-sans-web';
	--font-style-1e: normal normal bold 25px/40px 'azo-sans-web';
	--font-style-1f: normal normal normal 20px/40px 'azo-sans-web'; 
	--font-style-1g: normal normal bold 28px/30px 'azo-sans-web';
	--font-style-1h: italic normal normal 18px/30px 'azo-sans-web';
	--font-style-1i: normal normal bold 20px/25px 'azo-sans-web';
	--font-style-1j: normal normal bold 50px/68px 'azo-sans-web';
	--font-style-1k: normal normal bold 18px/30px 'azo-sans-web';
	--font-style-2a: normal normal normal 28px/45px 'abril-fatface';
	--font-style-2b: normal normal normal 34px/57px 'abril-fatface';
	--font-style-2c: normal normal normal 76px/57px 'abril-fatface'; 
	--font-style-2d: normal normal normal 21px/28px 'abril-fatface';
}

/* colors */
:root {
	--basic: #F7F7F7;
	--turquoise: rgb(34, 164, 186);
	--orange: #FCBA00;
	--gray: #D8D8D8; 
	--light-gray: #EFEFEF;
	--black: #1A1A1A;
	--white: #FFFFFF;
	--border-color-dark: #707070;
	--red: #E5491F;
}

* {
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

html.menu-active {
	overflow: hidden;
}

a, button {
	color: inherit;
}

.menu-active .facebook-mobile-menu {
	margin-top: 5px;
	margin-left: 60px;
	display: block;
}

.menu-active .header-main {
	position: sticky;
	height: 100vh;
}


/* mobile */

.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-main {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	display: flex;
	flex-direction: column;
}

@media (max-width: 399px) {
	.logo {
		height: 80%;
		width: 80%;
	}	
}


.nav-main {
	font: var(--font-style-1i);
	text-transform: uppercase;
	color: var(--white);

}

.nav-main li {
	padding-left: 20px;;
}

.nav-main a:hover {
	margin-bottom: -5px;
	border-bottom: 5px solid #FCBA00;	
	cursor: pointer;
}

.dropdown-menu {
	margin-top: 10px;
	display: none;
}

.menu-active .dropdown-menu {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-bottom: 40px;
}

.dropdown-menu li {
	font: var(--font-style-1i);
	margin-bottom: 15px;
}

.facebook-mobile-menu {
	display: none;
}

.hamburger-menu {
	flex-direction: column;
	justify-content: space-around;
	height: 50px;
	width: 50px;
	display: flex;
	border-style: none;
	flex-shrink: 0;
	padding: 0;
}

.line {
	width: 100%;
	height: 3px;
	background-color: var(--white);
	transition: all 0.8s;
}
.change .line-1 {
	transform: rotateZ(-405deg) translate(-8px, 6px);
}

.change .line-2 {
	opacity: 0;
}

.change .line-3 {
	transform: rotateZ(405deg) translate(-16px, -14px);
}

.change {
	transition: right 0.6s cubic-bezier(1, 1, 1, 1);
	right: 0;
}

.hero {
	font: var(--font-style-1);
	margin-left: 58px;
	padding-right: 20px;

}

.facebook {
	padding: 50px 0px 52px 58px; 
}


.intro {
	font: var(--font-style-2a);
	margin: 11px 24px 60px 24px;
} 

.subject {
	font: var(--font-style-1c);
	margin-bottom: 20px;
}

.section-content {
	margin-right: 27px;
	margin-left: 27px;
	font: var(--font-style-basic);
}            

@media (min-width: 1279px) {
	.section-content {
		font: var(--font-style-1f);
	}     
}

.drawing img {
	height: 135px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.idea-section {
	margin-bottom: 50px;
}

.quote-section {
	background-color: var(--light-gray);
	padding-bottom: 60px;	
}

.quote-section .section-content {
	max-width: 1080px;
}

.offer-section {
	background-color: var(--basic);
}

@media(min-width: 1279px){
	.offer-section {
		background-image: url("assets/ksztalt_w_tle.png");
		background-repeat: no-repeat;
		background-position: right -40px top;
	}

}

.offer-section .intro {
	font: var(--font-style-2a); 
}

.workshop-basic:before {
	content:"1.";
	 font: var(--font-style-2c);
	 position: absolute;
	 left: -75px;
	 top:18px;
}

.workshop-advanced:before {
	content:"2.";
	 font: var(--font-style-2c); 
	 position: absolute;
    left: -75px;
    top: 18px;
}
.workshop-personal:before {
	content:"3.";
	 font: var(--font-style-2c); 
	 position: absolute;
    left: -75px;
    top: 18px;
}
.workshop-group:before {
	content:"4.";
	 font: var(--font-style-2c); 
	 position: absolute;
    left: -75px;
    top: 18px;
}

.about {
	background-color: var(--orange);
	padding-bottom: 80px;
	background-image: url("assets/logo-onas1.png"), url("assets/logo-onas2.png");
	background-repeat: no-repeat;
	text-align: center;
	background-position: left top 10vw, right bottom 75px;
}

.about p {
	margin-bottom: 20px;
}

.about img {
	margin-bottom: 50px;
}

.go-to-events-btn {
	display: none;
}

.reviews-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url("assets/kropki_w_tle_2.png"), url("assets/ksztalt_w_tle_mirror.png");
    background-repeat: no-repeat;
    background-position: top 45px right 15px, top left -130px;
    background-color: var(--basic);
    padding-bottom: 40px;
}

@media(max-width: 599px){
	.reviews-section {
		background-image: url("assets/ksztalt_w_tle_mirror.png");
		background-position: top left -130px;
	}
}

.reviews-line {
	display: flex;
}

.gallery-preview-mobile { 
	background-image: url("assets/galeria_mobile.png");
	justify-content: center;
	gap: 20px; 
	height: 285px;
}

.gallery-preview-button {
	border: 0;
	width: 98px;
	height: 68px;
}

.gallery-preview-side-text {
	color: var(--white);
	font: var(--font-style-1e); 
	font-weight: bold;
	text-align: center;
}

.nav-main {
	font: var(--font-style-1d);
	text-transform: uppercase;	
}

.section-title {
	font: var(--font-style-1d);
	text-transform: uppercase;
	padding-top: 70px;

}

.offer-section p {
	font: var(--font-style-1a);  
	text-align: left;
	margin-left: 90px;
	position: relative;
	max-width: 1000px;
	padding: 0px 25px 30px 20px;
}

.show-details-btn {
	text-transform: uppercase;
	font: var(--font-style-1b);
	font-style: 20px;
	color: var(--white);
	border-style: none;
	margin-top: 20px;
}

.hide-details-btn {
	border-style: none;
	text-transform: uppercase;
	font: var(--font-style-1b);
	font-style: 20px;
	text-align: right;
	width: 100%;
	padding-right: 50px;;
}

@media(min-width: 1279px) {
	.show-details-btn {
		margin-top: 0px;
	}	
}

.show-details-btn:hover {
	color: var(--orange);
}

.whorkshop-style-grey .toggle-btn {
	color: var(--black); 
}

.register-btn {
	border-style: none;
	text-transform: uppercase;
	font: var(--font-style-1g);
	border-radius: 24px;
	width: 300px;
	height: 69px;
	margin: 40px 0 40px 0;
}

.btn-style1 {
	background-color: var(--turquoise);
	color: var(--white);
}

.btn-style1:hover {
	background-color: var(--orange);
	color: var(--white);
}

.toggle-section-content {
	display: none;
}

.price, .side-text {
	font:var(--font-style-1f);
	text-transform: uppercase;
}

.side-text::before {
	display: block;
	height: 1px;
	margin: 0px 24px 33px 24px;
	background-color: var(--white);
}

.quote {
	font: var(--font-style-2a);
	padding: 60px 40px 40px 40px;
	position: relative;
	max-width: 1239px;
}
 
.quote::before {
	content: "”";
	font: var(--font-style-2a);
	color: var(--red);
	position: relative;
	top: 20px;
}

.quote::after {
	content: "”";
	font: var(--font-style-2a);
	color: var(--red);
	position: absolute;
}

.teachers {
	text-transform: uppercase;
	font: var(--font-style-1d);
	margin-bottom: 20px;
}

.cookies {
	display: none;  
}

.about-text-container {
	font: var(--font-style-basic); 
	margin: 0px 30px 50px 30px;
	max-width: 1680px;
}

.reviews {
	background-color: var(--turquoise);
	color: var(--white);
	font: var(--font-style-basic);
	border-radius: 24px;
	text-align: left;
	margin-bottom: 25px;
	padding: 40px 20px 40px 20px;
	flex-grow: 2;
	min-width: 200px;
	margin-right: 25px;
	margin-left: 25px;
}

@media (min-width: 1279px) {
	.reviews {
		font: var(--font-style-1a);
	}
}

@media (min-width: 799px) {
	.reviews {
		margin: 25px;
	}
}

.reviews-max-width {
	max-width: 2000px;
}

.contact-details {
	margin: 0px 0px 44px 0px;
}

.gallery-preview-desktop {
	display: none;
}

@media (max-width: 799px) {
	.reviews-line {
		display: inline-block;
	}	
}
	.top-banner {
		background-color: var(--turquoise);;
	}

@media (min-width: 1279px){
	.main-figure{
		display: block;
	}	
	.top-banner {
		padding-top: 100px;
		display: flex;
		justify-content: space-evenly;
	}	
}

@media (max-width: 1099px) {
	.main-figure {
		display: none;
	}	
}

@media (max-width: 1280px) and (min-width: 1100px){
	.top-banner {
		display: flex;
		justify-content: space-evenly;
		padding-bottom: 80px;
	}
	.hero {
		margin-left: 0px;
	}

	.facebook {
		padding-left: 0px;
	}

	.main-figure img {
		width: 80%;
		height: 80%;
		float: right;
		margin-right: 20px;
	}
}

.header-main {
	padding: 25px 0;
	background-color: var(--turquoise);
}

.sticky-top {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 45px 50px 59px 45px;
}

@media (max-width: 399px) {
	.sticky-top {
		justify-content: center;
		margin: 25px;
	}
} 

@media (min-width: 1279px){
	.registration {
		display: flex;
		padding: 20px 0px 30px 0px;
		align-items: center;
		gap: 1em;
	}
}


@media(min-width: 1279px){
	.register-container::before {
		content:'';
		display: block;        
		height: 1px; 
		background-color: black;
		margin:20px 50px 20px 50px;
	} 
}

@media(max-width: 1279px) {
	.side-text::before {
		content:'';
		display: block;        
		height: 1px; 
		background-color: black;
		margin:20px 50px 20px 50px;
	}
}

.workshop-container .section-content {
	margin: 0px;
	padding: 30px;
}

@media (min-width: 1279px) {

	.workshop-container .section-content {
		margin-top: 70px;
	}
}


.workshop-description, .section-content p {
	margin-bottom: 15px;
}

/* desktop */
@media (min-width: 1279px) {

	.sticky-top {
		margin: 0px;
	}
	
	.header-main {
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		position: static;
	}

	.hero {
		margin-left: 0px;
		justify-content: space-evenly;
	}

	.dropdown-menu {
		display: flex;
		align-items: center;
		gap: 30px;
		margin: 0px;;	
	}

	.hamburger-menu {
		display: none;
	}

	.nav-main {
		position: static;
		font: var(--font-style-1b);
		padding: 0px;
		display: flex;
		height: auto;
	}

	.nav-main li {
		white-space: nowrap;
	}

	.go-to-events-btn {
		border-style: solid;
		border-color: transparent;
		background-color: var(--orange); 
		color: var(--white);
		border-radius: 10px;
		text-transform: uppercase;
		font: var(--font-style-1b);
		padding: 7px 20px 7px 20px;
		margin: 50px 0px 50px 0px;
		display: inline-block;
	}

	.go-to-events-btn:hover {
		border-style: solid;
		border-color: white;
		background-color: var(--turquoise);
	}

	.facebook {
   	 	cursor: pointer;
   		 padding: 10px 0px 90px 0px;
	}

	.idea-section-desktop {
		display: flex;
	}
	.idea-container {
		margin-left: 60px;
		margin-right: 60px;
	}

	.idea-section-desktop p {
		text-align: left;
	}

	.idea-section-desktop h5 {
		text-align: left;
		margin-left: 27px;
	}

	.idea-section-desktop figure {
		text-align: left;
		margin-left: 40px;
	}

	.gallery-preview-mobile {
		display: none;
	}

	.gallery-preview-desktop { 
		display: flex;
	}

	.gallery-preview-desktop a { 
		width: 20%;
		position: relative;
	}
	.gallery-preview-desktop img { 
		width: 100%;
		display: block;
	}

	.gallery-preview-desktop a::after {
		content:"Przejdź do galerii";
		text-transform: uppercase;
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--white);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		background-color: var(--turquoise);
		background-image: url('assets/gallery.png');
		background-repeat: no-repeat;
		background-position: top 40% center;
		background-size: 90px;
		padding-top: 100px;
		transition: opacity 0.2s ease-in-out;
		font: var(--font-style-1f);
		font-weight: 600;
	}

	.gallery-preview-desktop a:hover::after {
		opacity: 0.8;
	}

	.workshop-short-list div {
		display: flex;
		gap: 100px;
		justify-content: space-around;
	}

	.workshop-short-list p {
		max-width: 450px;
	}

	.workshop-container .section-content {
		padding: 0px 180px 0px 200px;
		text-align: left;
	}

	.decoration {
		background-image: url("assets/kropki_w_tle1.png"), url("assets/Group 174.png");
		background-repeat: no-repeat;
		background-position: top 140px left 22px, top 290px left 15px;
	}

	.registration {
		justify-content: space-evenly;
		text-align: left;
	}

	.hide-details-btn {
		padding-right: 200px;
	}

	.about {
	    background-repeat: no-repeat;
	    background-position: left top 115px;
		background-image: url(assets/logo_w_tle.png);
	}

	.about-desktop {
		display: flex;
		text-align: left;
	}

	.about-text-container {
		margin-left: 60px;
		font: var(--font-style-1a);
	}

	.about-text {
		margin-left: 0;	
	}
	
	.about-photo {
		margin-left: 250px;
	}

	.kuba {
		margin-top: 50px;
	}
}

@media(max-width: 1279px){   
	.hide {
		display: block;
	}
}

.workshop-holder {
	text-transform: uppercase;
	font: var(--font-style-1k);
	background-color: var(--turquoise);
	color: var(--white);
	border-radius: 50px;
	text-align: center;
	gap: 1rem;
	margin: 20px;
	padding: 20px 30px;
}

.workshop-zaawansowany .workshop-holder {
	background-color: #D8D8D8;
	color: black;
}

.workshop-zaawansowany .workshop-holder button {
	color: black;
}

.workshop-zaawansowany .workshop-holder button:hover {
	color: white;
}

.workshop-interpersonalny .workshop-holder{
	background-color: var(--orange);
	color: black;
}

.workshop-interpersonalny .workshop-holder button {
	color: black;
}

.workshop-interpersonalny .workshop-holder button:hover {
	color: white;
}

.events-container {
	background-color: var(--basic);
	text-align: center;
	padding-bottom: 70px;
}


.location {
	font: normal normal normal 20px/30px 'azo-sans-web';
	padding: 40px;
}

@media (min-width: 1199px) {

	.workshop-holder {	
		display:  flex;
		justify-content: space-between;
		align-items: center;
		border-radius: 80px;
		margin:50px 150px 0 150px;
		padding:45px 100px 45px 60px;
	}
}

.show-details-container {
	display: none;
}

.show {
	display: block;
}

.personal-website a {
	color: white;
}

@media (max-width: 899px){

	.img-wrapper {
		pointer-events: none;
	}
}


/* gallery desktop*/
 
.gallery-decoration-aligment {
	background-image: url("assets/kropki_w_tle1.png"), url("assets/Group 174.png");
	background-repeat: no-repeat;
	background-position: top 40px left, top 200px left;
}

@media (max-width: 800px) {
	.gallery-decoration-aligment {
		background: none;
	}
}

.gallery-container {
	max-width: 1600px;
	margin-inline: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
	margin-top: 50px;
	margin-bottom: 50px;
}

@media (max-width: 1279px) {
	.gallery-container {
		gap: 10px;
	}

}

.img-wrapper:hover::after {
	content: "zobacz";
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(34, 164, 186, 0.5);
	color: var(--white);
	text-transform: uppercase;
	font: var(--font-style-1i);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	cursor: pointer;
}

.img-wrapper {
	max-width: 300px;
	position: relative;
}

.img-wrapper img {
	width: 100%;
	height: auto;
	display: block;
}

/* overlay */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	display: none;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.5);
}

.overlay-active .overlay {
	display: flex;
}

.overlay img {
	width: 100%;
	height: 100%;
	border: 3px solid #fff;
}

.gallery-overlay-container {
	max-width: 50%;
	max-height: 80vh;
	position: relative;
}

.gallery-close {
	width: 34px;
	height: 34px;
	position: absolute;
	right: 20px;
	top: 20px;
	border: 0;
	background-image: url('assets/x_white.png');
}

.sr-only {
	position: absolute;
	top: -100vh;
	left: -100vw;
}

@media (min-width: 1279px) {
	.gallery-footer {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
	}
}

.footer-container {
	background-color: var(--black);
	color: var(--white);
	padding: 47px 0px 47px 40px;
	font: var(--font-style-basic);
}

@media (min-width: 1279px){

	.footer-container {
		font: var(--font-style-1a);
	}
}


.footer-container .facebook {
	background-color: inherit;
	padding: 0px;
}

.copywright div {
	margin-bottom: 30px;
}

@media (min-width: 1279px) {

	.copywright {
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding-left: 10%;
		padding-right: 10%;
	}
}

@media (min-width: 1279px) {

	.contact-details {
		margin-right:150px;
	}
}

@media (min-width: 1279px){

	.footer {
		display: flex;
		padding-left: 10%;
	}
}

